body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow: hidden;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

.WrapBody {
  background-image: url('./images/Background_After home page.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}

.u-dialog-section-4 {
  min-height: 1154px;
}

.u-dialog-section-4 .u-image-1 {
  width: 539px;
  height: 504px;
  margin: 429px calc(((100% - 720px) / 2) + 85px) 0 auto;
}

.u-dialog-section-4 .u-dialog-1 {
  width: 800px;
  margin: -613px auto 0;
}

.u-dialog-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 311px auto 0;
  padding: 0;
}

.u-dialog-section-4 .u-text-1 {
  width: auto;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -469px -231px 0 auto;
}

.u-dialog-section-4 .u-text-2 {
  font-size: 1.875rem;
  width: auto;
  font-weight: 500;
  margin: 7px -433px 0 809px;
}

.u-dialog-section-4 .u-icon-1 {
  width: 20px;
  height: 20px;
}

.u-dialog-section-4 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: 362px calc(((100% - 720px) / 2) + 75px) 60px auto;
}

.u-dialog-section-4 .u-image-3 {
  width: 212px;
  height: 212px;
  margin: 111px auto 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-image-1 {
  width: 360px;
  height: 263px;
  margin: 149px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.875em;
}

.u-section-1 .u-form-1 {
  height: 47px;
  width: 300px;
  margin: -217px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-weight: 600;
  font-size: 1rem;
}

.u-section-1 .u-form-2 {
  height: 47px;
  width: 300px;
  margin: 18px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-weight: 600;
  font-size: 1rem;
}

.u-section-1 .u-image-2 {
  width: 20px;
  height: 10px;
  margin: -97px 226px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 20px;
  height: 10px;
  margin: 55px 226px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 360px;
  height: 68px;
  margin: -226px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 0.875rem;
}

@media (max-width: 2000px) {

  .WrapBody {
    min-height: 1400px;

  }
  .u-dialog-section-4 {
    min-height: 1924px;
  }

  .u-dialog-section-4 .u-image-1 {
    width: 539px;
    margin-top: 263px;
    margin-right: auto;
  }

  .u-dialog-section-4 .u-dialog-1 {
    width: 720px;
    height: auto;
    min-height: 835px;
    margin-top: -643px;
  }

  .u-dialog-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 717px;
  }

  .u-dialog-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 414px;
    margin-top: -559px;
    margin-right: auto;
  }

  .u-dialog-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: 454px;
    margin-top: 251px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-dialog-section-4 .u-image-2 {
    width: 249px;
    height: 77px;
    margin-top: -250px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 212px;
    height: 212px;
    margin-top: -422px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin: -40px auto 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-left: 220px;
  }
}

@media (max-width: 767px) {

  .u-dialog-section-4 {
    min-height: 1332px;
  }

  .u-section-1 .u-image-2 {
    width: 20px;
    height: 10px;
    margin: -100px 140px 0 auto;
  }

  .u-section-1 .u-image-3 {
    margin: 60px 140px 0 auto;
  }

  .u-dialog-section-4 .u-image-1 {
    width: 539px;
    height: 505px;
    margin-top: 199px;
  }

  .u-dialog-section-4 .u-dialog-1 {
    width: 540px;
    margin-top: -644px;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 207px;
  }

  .u-dialog-section-4 .u-text-1 {
    width: 414px;
    margin-top: -559px;
    margin-right: -231px;
  }

  .u-dialog-section-4 .u-text-2 {
    width: 454px;
  }

  .u-dialog-section-4 .u-image-2 {
    width: 249px;
    height: 77px;
    margin-top: -626px;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 212px;
    height: 212px;
    margin-top: -422px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 126px;
  }
}

@media (max-width: 575px) {

  .WrapBody {
    min-height: 900px;

  }

  .error-message-pass {
    width: 284px;
  }

  .u-dialog-section-4 .u-image-1 {
    width: 291px;
    height: 275px;
    margin-top: 186px;
  }

  .u-dialog-section-4 .u-dialog-1 {
    width: 338px;
    margin-top: -447px;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 472px;
  }

  .u-dialog-section-4 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin-top: -297px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-dialog-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 131px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-dialog-section-4 .u-icon-1 {
    left: auto;
    top: 35px;
    position: absolute;
    right: 16px;
  }

  .u-dialog-section-4 .u-image-2 {
    width: 157px;
    height: 157px;
    margin-top: -483px;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 108px;
    height: 108px;
    margin-top: -280px;
  }


  .u-section-1 .u-image-1 {
    height: 276px;
    width: 323px;
    margin-top: 143px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -62px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.8em;
  }

  .u-section-1 .u-form-1 {
    height: 44px;
    width: 262px;
    margin-top: -183px;
  }

  .u-section-1 .u-input-1 {
    font-weight: 600;
    margin-top: -20px;
    font-size: 0.875rem;
  }

  .u-section-1 .u-form-2 {
    height: 44px;
    width: 260px;
    margin-top: 15px;
  }

  .u-section-1 .u-input-2 {
    font-weight: 600;
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: -92px;
    margin-right: 54px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 51px;
    margin-right: 55px;
  }

  .u-section-1 .u-image-4 {
    height: 84px;
    width: 328px;
    margin-top: -220px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 0px;
    width: 315px;
    margin-right: 78px;
    margin-left: 50px;
  }
}