body {
  height: 100%;
  overflow-y: hidden;
  overflow: hidden;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

.WrapBody {
  background-image: url("./images/Background_Registration page.png");
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  background-position: top;
}
.wrapgrid{
  overflow-x: hidden;
  overflow-y: hidden;
}
.u-section-1 .u-sheet-1 {
  margin-top: 50%;
}


.u-section-1 .u-image-2 {
  height: 112px;
  width: 274px;
  margin: -701px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-1 .u-form-1 {
  height: 40px;
  width: 245px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-top: 0;
}

.u-section-1 .u-input-1 {
  height: 40px;
  background-image: none;
}

.u-section-1 .u-form-2 {
  height: 54px;
  width: 245px;
  margin: 5px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-3 {
  height: 44px;
  width: 245px;
  margin: 11px auto 0;
}

.u-section-1 .u-
{
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-form-4 {
  height: 40px;
  width: 245px;
  margin: 8px auto 0;
}

.u-section-1 .u-input-4 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-form-5 {
  height: 40px;
  width: 245px;
  margin: 8px auto 0;
}

.u-section-1 .u-input-5 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-form-6 {
  height: 43px;
  width: 231px;
  margin: 21px auto 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;

}

.u-section-1 .u-label-6 {
  font-size: 0.625rem;
}

.u-block-f29a-50 {
  font-size: 0.625rem;
}

.u-block-f29a-51 {
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 10px 50px 10px 48px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.4376em;
}

.u-section-1 .u-image-3 {
  width: 28px;
  height: 16px;
  margin: -401px 200px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 28px;
  height: 16px;
  margin: 60px 200px 60px auto;
}   
.u-dialog-section-4 {
  min-height: 962px;
}

.u-dialog-section-4 .u-dialog-1 {
  width: 800px;
  min-height: 83px;
  margin: 159px auto 0;
}

.u-dialog-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-4 .u-image-1 {
  width: 170px;
  height: 286px;
  margin: -175px auto 0;
}

.u-dialog-section-4 .u-image-2 {
  width: 250px;
  height: 51px;
  margin: -311px auto 0 234px;
}

.u-dialog-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 311px auto 0;
  padding: 0;
}

.u-dialog-section-4 .u-image-3 {
  width: 170px;
  height: 65px;
  margin: -457px auto 0;
}

.u-dialog-section-4 .u-text-1 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  margin: -132px 617px 0 -129px;
}

.u-dialog-section-4 .u-image-4 {
  width: 250px;
  height: 51px;
  margin: 40px auto 0 -136px;
}

.u-dialog-section-4 .u-image-5 {
  width: 250px;
  height: 51px;
  margin: 79px auto 0 -136px;
}

.u-dialog-section-4 .u-image-6 {
  width: 250px;
  height: 51px;
  margin: 13px auto 0 -136px;
}

.u-dialog-section-4 .u-image-7 {
  width: 250px;
  height: 51px;
  margin: 13px auto 0 -136px;
}

.u-dialog-section-4 .u-text-2 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: -292px auto 0 319px;
}

.u-dialog-section-4 .u-text-3 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 49px auto 0 320px;
}

.u-dialog-section-4 .u-text-4 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 48px auto 0 327px;
}

.u-dialog-section-4 .u-text-5 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 49px auto 0 329px;
}

.u-dialog-section-4 .u-text-6 {
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-dialog-section-4 .u-icon-1 {
  width: 20px;
  height: 20px;
}

.u-dialog-section-4 .u-image-8 {
  width: 147px;
  height: 44px;
  margin: -121px auto 60px;
}
@media (max-width: 2000px) {

  .WrapBody {
    height: 180%;
  }

  .u-section-1 .u-image-1 {
   
    height: 1169px;
    width: 1000px;
    margin-bottom: -1169px;
  }

  .u-section-1 .u-image-2 {
    height: 181px;
    width: 709px;
    margin-top: -808px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 30px 278px 0 200px;
  }

  .u-section-1 .u-form-1 {
    height: 58px;
    width: 360px;
  }

  .u-section-1 .u-input-1 {
    height: 58px;
  }

  .u-section-1 .u-form-2 {
    width: 360px;
    margin-top: 16px;
  }

  .u-section-1 .u-form-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-form-3 {
    height: 60px;
    width: 360px;
    margin-top: 16px;
  }

  .u-section-1 .u-input-3 {
    height: 60px;
    display: block;
    text-align: left;
  }

  .u-section-1 .u-form-4 {
    height: 60px;
    width: 360px;
    margin-top: 16px;
  }

  .u-section-1 .u-input-4 {
    height: 60px;
  }

  .u-section-1 .u-form-5 {
    height: 60px;
    width: 360px;
    margin-top: 16px;
  }

  .u-section-1 .u-input-5 {
    height: 60px;
  }

  .u-section-1 .u-form-6 {
    height: 50px;
    width: 320px;
    margin-top: 16px;
  }

  .u-section-1 .u-form-group-6 {
    margin-top: 0;
  }

  .u-section-1 .u-label-6 {
    font-size: 1.125rem;
  }

  .u-block-f29a-50 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    font-size: 4em;
  }
  .error-message-agreeError{
    left: 162px;

  }
  .error-message-survey{
    left: 0;
    top: -115px;
    right: 0;
    margin: auto;
    width: 243px;
  }
  .u-section-1 .u-image-3 {
    width: 25px;
    height: 14px;
    margin-top: -455px;
  }

  .u-section-1 .u-image-4 {
    width: 25px;
    height: 14px;
    margin-top: 74px;
  }
  .u-dialog-section-4 .u-dialog-1 {
    width: 731px;
    height: auto;
    min-height: 667px;
    margin-right: calc(((100% - 720px) / 2) + -11px);
  }

  .u-dialog-section-4 .u-container-layout-1 {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .u-dialog-section-4 .u-image-1 {
    width: 306px;
    height: 516px;
    margin-top: 86px;
    margin-left: 206px;
  }

  .u-dialog-section-4 .u-image-2 {
    margin-top: -322px;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 386px;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 170px;
    height: 73px;
    margin-top: -555px;
    margin-left: 271px;
  }

  .u-dialog-section-4 .u-text-1 {
    margin-top: 27px;
    margin-right: 254px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-image-4 {
    width: 250px;
    height: 51px;
    margin-top: 22px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-image-5 {
    height: 51px;
    margin-top: 78px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-image-6 {
    height: 51px;
    margin-top: 12px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-image-7 {
    height: 51px;
    margin-top: 12px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-text-2 {
    margin-top: -290px;
    margin-left: 321px;
  }

  .u-dialog-section-4 .u-text-3 {
    margin-top: 48px;
  }

  .u-dialog-section-4 .u-text-4 {
    margin-top: 48px;
  }

  .u-dialog-section-4 .u-text-5 {
    margin-top: 46px;
    margin-left: 325px;
  }

  .u-dialog-section-4 .u-text-6 {
    margin-top: 46px;
    margin-left: 320px;
  }

  .u-dialog-section-4 .u-image-8 {
    height: 44px;
    margin-top: -103px;
  }
}

@media (max-width: 767px) {
  .WrapBody {
    height: 1080px;
  }
  .u-dialog-section-4 .u-container-layout-1 {
    display: block;
  }

  .error-message-survey {
    left: 0;
    right: 0;
    width: 242px;
    top: -230px;
    margin: auto;
  }

  .u-section-1 .u-sheet-1 {
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
    height: 138px;
    margin-top: -776px;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-right: 188px;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -460px;
    margin-right: 110px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 110px;
  }
  .u-dialog-section-4 .u-dialog-1 {
    width: 540px;
    margin-top: 238px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-dialog-section-4 .u-image-1 {
    margin: auto;
  }

  .u-dialog-section-4 .u-image-2 {
    width: 250px;
    height: 51px;
    margin-top: -323px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 304px;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 170px;
    margin: auto;
    margin-top: -550px;
  }

  .u-dialog-section-4 .u-text-1 {
    margin-right: 159px;
    margin-left: 139px;
  }

  .u-dialog-section-4 .u-image-4 {
    width: 250px;
    height: 51px;
  }

  .u-dialog-section-4 .u-image-5 {
    width: 250px;
    height: 51px;
  }

  .u-dialog-section-4 .u-image-6 {
    width: 250px;
    height: 51px;
  }

  .u-dialog-section-4 .u-image-7 {
    width: 250px;
    height: 51px;
    margin-left: 234px;
  }

  .u-dialog-section-4 .u-text-2 {
    margin-top: -288px;
    margin-left: 236px;
  }

  .u-dialog-section-4 .u-text-3 {
    margin-left: 236px;
  }

  .u-dialog-section-4 .u-text-4 {
    margin-left: 242px;
  }

  .u-dialog-section-4 .u-text-5 {
    margin-left: 243px;
  }

  .u-dialog-section-4 .u-text-6 {
    margin-left: 236px;
  }

  .u-dialog-section-4 .u-image-8 {
    height: 44px;
    margin-top: -190px;
  }
}

@media (max-width: 500px) {
  .WrapBody {
    height: 1080px;
  }
  .error-message-agreeError{
    left: 29px;
  
  }
  .u-section-1 .u-sheet-1 {
  }

  .u-section-1 .u-image-1 {
    margin-bottom: -779px;
    height: 782px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -683px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    font-weight: 600;
    width: 242px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    height: 40px;
    width: 281px;
  }

  .u-section-1 .u-input-1 {
    height: 40px;
  }

  .u-section-1 .u-form-2 {
    height: 44px;
    width: 280px;
    margin-top: 13px;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -11px;
  }

  .u-section-1 .u-form-3 {
    height: 40px;
    width: 280px;
    margin-top: 13px;
  }

  .u-section-1 .u-input-3 {
    font-size: 0.7rem;
    height: 40px;
    font-weight: 600;
    margin-top: -11px;
    min-width:100%; 
    display: block;
    text-align: left;
  }

  .u-section-1 .u-form-4 {
    height: 40px;
    width: 280px;
    margin-top: 13px;
  }

  .u-section-1 .u-input-4 {
    height: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -11px;
  }

  .u-section-1 .u-form-5 {
    height: 40px;
    width: 280px;
    margin-top: 13px;
  }

  .u-section-1 .u-input-5 {
    height: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -11px;
  }

  .u-section-1 .u-form-6 {
    height: 46px;
    width: 264px;
    margin-top: 13px;
  }

  .u-section-1 .u-label-6 {
    font-size: 0.75rem;
  }

  .u-block-f29a-50 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    padding: 0;
    
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.875em;
  }

  .u-section-1 .u-image-3 {
    width: 20px;
    height: 10px;
    margin-top: -270px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-4 {
    width: 20px;
    height: 10px;
    margin-top: 46px;
    margin-right: 50px;
  }
  .u-dialog-section-4 .u-dialog-1 {
    width: 339px;
    margin-top: 15px;
    margin-right: auto;
  }

  .u-dialog-section-4 .u-image-1 {
    height: 437px;
    width: 339px;
    margin-top: 60px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-image-2 {
    width: 215px;
    height: 46px;
    margin-top: -269px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-btn-1 {
    margin-top: 198px;
  }

  .u-dialog-section-4 .u-image-3 {
    width: 162px;
    height: 66px;
    margin-top: -464px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 19px;
    margin-right: 52px;
    margin-left: 46px;
  }

  .u-dialog-section-4 .u-image-4 {
    width: 216px;
    height: 47px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-image-5 {
    width: 215px;
    height: 46px;
    margin-top: 62px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-image-6 {
    width: 215px;
    height: 46px;
    margin-top: 8px;
    margin-right: 59px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-image-7 {
    width: 215px;
    height: 46px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-text-2 {
    margin-top: -251px;
    margin-left: 127px;
  }

  .u-dialog-section-4 .u-text-3 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-text-4 {
    margin-top: 38px;
    margin-left: 138px;
  }

  .u-dialog-section-4 .u-text-5 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-text-6 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-dialog-section-4 .u-icon-1 {
    left: auto;
    top: 60px;
    position: absolute;
    right: -237px;
  }

  .u-dialog-section-4 .u-image-8 {
    height: 44px;
    margin-top: -206px;
  }
}

.u-white>.u-container-layout:before {
  background-color: #00000000;
}
